RacialASI.zip
RacialASI_Patch_DivineSoulOnly.zip
RacialASI_Patch_DivineSoulUndeadWarlock.zip
RacialASI_3.0.zip
Server_Origin/_Init.lua
Server_Origin/ASTRLTieflings.lua
Server_Origin/CustomClasses.lua
Server_Origin/CustomRaces.lua
Server_Origin/FantasticalMultiverse.lua
Server_Origin/WotDAasimaSE.lua
bg3-modders-multitool.exe
Server_Origin/compile Obf
Server_Origin/Config_ASI.lua
bg3-modders-multitool.dll
bg3-modders-multitool.dll.config
bg3-modders-multitool.exe
bg3-modders-multitool.runtimeconfig.json
RacialASI/Public/RacialASI/Feats/FeatDescriptions.lsx_
bg3-modders-multitool.exe
Server_Origin/Config_ASI.lua
OLD/_Progressions/Progressions.lsx
OLD/RacialASI_Patch_DivineSoulOnly/Mods/RacialASI_Patch_DivineSoulUndeadWarlock/meta.lsx
OLD/RacialASI_Patch_DivineSoulOnly/Public/RacialASI_Patch_DivineSoulUndeadWarlock/Progressions/Progressions.lsx