RacialASI.zip
RacialASI_Patch_DivineSoulOnly.zip
RacialASI_Patch_DivineSoulUndeadWarlock.zip
RacialASI_3.0.zip
Server_Origin/_Init.lua
Server_Origin/ASTRLTieflings.lua
Server_Origin/CustomClasses.lua
Server_Origin/CustomRaces.lua
Server_Origin/FantasticalMultiverse.lua
Server_Origin/WotDAasimaSE.lua
bg3-modders-multitool.exe
Server_Origin/compile Obf
Server_Origin/Config_ASI.lua
bg3-modders-multitool.dll
bg3-modders-multitool.dll.config
bg3-modders-multitool.exe
bg3-modders-multitool.runtimeconfig.json
RacialASI/Public/RacialASI/Feats/FeatDescriptions.lsx_
bg3-modders-multitool.exe
Server_Origin/Config_ASI.lua
OLD/_Progressions/Progressions.lsx
OLD/RacialASI_Patch_DivineSoulOnly/Mods/RacialASI_Patch_DivineSoulUndeadWarlock/meta.lsx
OLD/RacialASI_Patch_DivineSoulOnly/Public/RacialASI_Patch_DivineSoulUndeadWarlock/Progressions/Progressions.lsx
Server_Origin/Config_ASI.lua
Server_Origin/ASTRLElvens.lua
Server_Origin/*
.vscode/settings.json
CompatibilityFramework/Mods/SubclassCompatibilityFramework/meta.lsx
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/CompatibilityFrameworkConfig.example.json
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Config.json
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/BootstrapClient.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/BootstrapServer.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/ServerDeprecation.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/API/_init.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/API/ActionResourceApi.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/API/BooleanApi.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/API/DebugApi.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/API/DictionaryApi.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/API/ListApi.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/API/RaceApi_v2.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/API/SelectorApi.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/API/StringApi.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/API/SubclassApi.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/_init.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/Queue.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/ActionResourceSupport/_ActionResourceGroupAddition.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/ActionResourceSupport/_ActionResourceGroupRemoval.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/BooleanSupport/BooleanSet.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/ListsSupport/_ListCompatibility.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/RaceSupport/_RaceChild.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/SelectorSupport/_SelectorAddition.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/SelectorSupport/_SelectorRemoval.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/StringSupport/_StringCompatibility.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/CompatibilitySupport/SubclassSupport/_SubclassCompatibility.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Globals/_init.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Globals/Dictionaries.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Globals/MulticlassDictionary.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Globals/Queue.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Globals/Strings.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Init/_InitClasses.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Init/_InitDefaults.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Init/_InitGlobals.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/JsonLayer/_init.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/JsonLayer/_JsonLoader.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/JsonLayer/_Utils.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/JsonLayer/ARGHandler.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/JsonLayer/FeatHandler.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/JsonLayer/ListHandler.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/JsonLayer/ProgressionHandler.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/JsonLayer/RaceHandler.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/JsonLayer/SpellHandler.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Utils/_init.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Utils/ModUtils.lua
CompatibilityFramework/Mods/SubclassCompatibilityFramework/ScriptExtender/Lua/Utils/QueueUtils.lua
